<div style="width: 80%; margin: 60px auto 0 auto;">
	<h2 style="text-align:center">This page is still under construction</h2>
	<br>
	<br>
	<br>
	<h3 style="text-align:center;">We at Trenton Bahr Portrait Artists would be glad to donate to the charity of your choice... 
	<br>
	<br>
	Contact our charity director at 916-797-1002 for more info</h3>
</div>