<style>
	#color_box{margin: 15px 40px; height: 130px; padding: 10px; border-radius: 3px; border: solid 2px #333; line-height: 25px;}
	h6{text-align:center;}
</style>

<div class="large-12 columns">

	<div class="row">
		<div class="large-3 columns" id="color_box" style="background-color: #f6f3ea">
			<h6>Light Cream</h6>
			<li>Page Color</li>
		</div>
		<div class="large-3 columns" id="color_box" style="background-color: #f3ecdc">
			<h6>Darker Cream</h6>
			<li>Background Color</li>
		</div>
		<div class="large-3 columns" id="color_box" style="background-color: #1c0205; color: #f6f3ea">
			<h6 style="color: #f6f3ea;">Dark Brown</h6>
			<li>Text and Borders?</li>

		</div>
	</div>
	<div class="row">
		<div class="large-3 columns" id="color_box" style="background-color: #bb1b1b; color: #f6f3ea">
			<h6 style="color: #f6f3ea;">Heart Red</h6>
			<li>Not sure</li>
		</div>
		<div class="large-3 columns" id="color_box" style="background-color: #5f0f0f; color: #f6f3ea">
			<h6 style="color: #f6f3ea;">Accent Red</h6>
			<li>Buttons</li>
		</div>
		<div class="large-3 columns" id="color_box" style="background-color: #116a78; color: #f6f3ea">
			<h6 style="color: #f6f3ea;">Charity Accent</h6>
			<li>Borders</li>
			<li>Buttons</li>
		</div>
	</div>
	
</div>