/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

#header {
	padding: 10px 10px 0px 10px;
	/*border: solid blue 2px;*/ 
	a {
		margin:0;
	}
}

#page{
	/*border: solid blue 2px;*/
	min-height: 700px;
	padding: 30px 15px 10px 15px;
	background-color: #fffaf0;
	padding-bottom: 0px;
	margin-bottom: 150px;
	margin-top: 2px;
	box-shadow: 0 0 5px #999;
	border: 1px solid #2B1903;
	border-radius: 7px;
}

#placeholder{
	background: url(/assets/placeholder-small.jpg) no-repeat center;
}

#flash_container{
	margin: 0 auto;
}

#border_title_box{
	margin-top: -28px;
}

#border_title{
	background-color: #fffaf0;
	padding: 3px 7px;
	width: auto;
	display: inline;
}
