
#flash_container{
  margin: 0 auto;
}

#flash_notice, #flash_error, #flash_alert {
  text-align: center;
  width: 400px;
  padding: 5px 8px;
  margin: -25px auto 25px auto;
  font-size: 14px;
  
}

#flash_notice {
  background-color: #CFC;
  border: solid 2px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 2px #C66;
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
